.chatpage-container {
  width: 94%;
  height: calc(100vh - 100px);
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.conver-title{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 90%;
  margin: 0.2em  auto;
}
.conver-title h2{
  display: flex;
  justify-content:center;
  margin: 0.2em  auto;
}

.chat-into-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: 0em auto;
  text-align: center;
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 8px;
}

.prompt-button {
  width: 4em;
}

.prompt-input {
  padding: 10px;
  height: 3em;
  font-size: 1em;
  width: 100%;
}

.sendArrow {
  width: 2.2em;
  filter: invert(0.8);
}

.chatbox {
  width: 100%;
  height: 96%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #232323;
  margin: 1em 0em;
  padding: 0.4em;
  border-radius: 6px;
}
.chatbox-container {
  overflow: auto;
  padding: 0.4em;
}

/* messages */
.messages-container {
  display: flex;
  flex-direction: column;
  margin: 0.5em 0em;
}

.conversation-content {
  padding: 0.2em 1em;
}

.message-container {
  display: flex;
  flex-direction: row;
  gap: 1.2em;
  margin: 0em 0em 1em 0em;
  font-size: 1.25em;
  position: relative;
  top: 2px;
}

.message-image {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.message-spinner-container {
  display: flex;
  flex-direction: row;
  margin: 0.8em 0em;
  align-items: center;
}

.loading-spinner {
  width: 3.8em;
  height: 3.8em;
  position: relative;
  left: -10px;
}

/* prompt selector */

.prompt-selector-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 94%;
  margin: 0px auto;
  justify-content: space-between;
  gap: 16px;
}
.button-one{
  background-color: #323232;
  border: 2px solid #101010;
  padding: 12px;
  cursor: pointer;
  border-radius: 6px;
  transition: all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
}
.button-selected {
  border: 2px solid #929292;
}

@media (max-width: 794px) {
  .conversation-content {
    padding: 0.2em 0.5em;
  }
  .message-container {
    gap: 0.8em;
    margin: 0em 0em 0.8em 0em;
    font-size: 1.10em;
  }
}

@media (max-width: 454px) {
  .button-one{
    padding: 6px;
  }
  .prompt-selector-container {
    width: max-content;
  }
  .conversation-content {
    padding: 0.2em 0.1em;
  }
  .chatbox-container{
    padding: 0em 0.1em;
  }
  .message-container {
    gap: 0.6em;
    font-size: 1em;
  }
}

@media (max-width: 324px) {
  .prompt-selector-container {
    gap: 4px;
  }
}
